Options +FollowSymLinks
RewriteEngine on

RewriteRule ^log-out$ res/php/user_actions/log-out.php [QSA]
# [QSA] para mandar valores



#Ruta administradores

RewriteRule ^admin/new_post$ admin/index.php?section=new_post [QSA]
RewriteRule ^admin/all_posts$ admin/index.php?section=all_posts [QSA]
RewriteRule ^admin/all_posts_list$ admin/index.php?section=all_posts_list [QSA]
RewriteRule ^admin/posts$ admin/index.php?section=posts [QSA]
RewriteRule ^admin/categories$ admin/index.php?section=categories [QSA]
RewriteRule ^admin/banner$ admin/index.php?section=banner [QSA]
RewriteRule ^admin/manual_admin$ admin/index.php?section=manual_admin [QSA]


#Ruta administradores CX

RewriteRule ^admin/pom$ admin/index.php?section=pom [QSA]
RewriteRule ^admin/sectores_exportacion$ admin/index.php?section=sectores_exportacion [QSA]

#Ruta administrador ART
RewriteRule ^admin/asociacionesartesanales$ admin/index.php?section=asociacionesartesanales [QSA]

#Ruta Usuarios - cadena de expresion regular para el id de publicaciones

RewriteRule ^post/([0-9]+)$ index.php?section=post&id_post=$1 [QSA]
RewriteRule ^register$ index.php?section=register [QSA]
RewriteRule ^log-in$ index.php?section=log-in [QSA]

RewriteRule ^index$ index.php?section=index [QSA]

RewriteRule ^home$ index.php?section=home [QSA]
RewriteRule ^dircetur$ index.php?section=dircetur [QSA]

#main_nav

RewriteRule ^organo_direccion$ index.php?section=organo_direccion [QSA]
RewriteRule ^organo_asesoramiento_apoyo$ index.php?section=organo_asesoramiento_apoyo [QSA]
RewriteRule ^organizacion$ index.php?section=organizacion [QSA]
RewriteRule ^cx$ index.php?section=cx [QSA]
RewriteRule ^directorio$ index.php?section=directorio [QSA]

#cx
RewriteRule ^objetivos_funciones$ index.php?section=objetivos_funciones [QSA]
RewriteRule ^pom$ index.php?section=pom [QSA]
RewriteRule ^sectores_exportacion$ index.php?section=sectores_exportacion [QSA]
RewriteRule ^analisisexportacion$ index.php?section=analisisexportacion [QSA]

#art
RewriteRule ^artesania$ index.php?section=artesania [QSA]
RewriteRule ^objetivos_funciones_art$ index.php?section=objetivos_funciones_art [QSA]
RewriteRule ^rna$ index.php?section=rna [QSA]
RewriteRule ^asociaciones_artesanales$ index.php?section=asociaciones_artesanales [QSA]

#dta
RewriteRule ^objetivos_funciones_dta$ index.php?section=objetivos_funciones_dta [QSA]
RewriteRule ^directorio_dta$ index.php?section=directorio_dta [QSA]


