Options +FollowSymLinks
RewriteEngine on

RewriteRule ^log-out$ res/php/user_actions/log-out.php [QSA]
# [QSA] para mandar valores
#Ruta administradores

RewriteRule ^admin/posts$ admin/index.php?section=posts [QSA]
RewriteRule ^admin/categories$ admin/index.php?section=categories [QSA]
RewriteRule ^admin/banner$ admin/index.php?section=banner [QSA]

#Ruta Usuarios - cadena de expresion regular para el id de publicaciones
RewriteRule ^post/([0-9]+)$ index.php?section=post&id_post=$1 [QSA]
RewriteRule ^register$ index.php?section=register [QSA]
RewriteRule ^log-in$ index.php?section=log-in [QSA]
#main_nav
RewriteRule ^misionvision$ index.php?section=misionvision [QSA]
RewriteRule ^competencianaturaleza$ index.php?section=competencianaturaleza [QSA]
RewriteRule ^fines$ index.php?section=fines [QSA]
RewriteRule ^cx$ index.php?section=cx [QSA]

